
.main-header {
    .navbar-brand {
        color: var(--gray-dark);
        font-size: 32px;
        font-weight: 600;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .widget-list {
        display: flex;
        align-items: center;

        .wid-list-item {
            margin-right: 16px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .nav-item {
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
        @media(max-width:991.98px){
            margin-right: 0;
            margin-bottom: 20px;
        }
    }

    .nav-link {
        font-size: 16px;
        line-height: 1;
        letter-spacing: .02em;
        font-weight: 700;
        color: var(--gray-dark);
        padding: 0 !important;
    }
    .right-widget{
        .dropdown-menu {
            background-color: var(--white);
            top: calc(100% + 8px);
            left: auto;
            right: 0;
            box-shadow: 0 1px 15px rgba(0,0,0,.25);
            border: 0;
            width: 300px;
            @media(max-width:991.92px){
                left: 0;
                right: 0;
            }
        }
    }
    .prof-icon {
        background: hsla(0,0%,100%,.5);
        padding: 10px;
        border-radius: 2px;
        cursor: pointer;
    }
    .prof {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        margin-right: 12px;
        img{
            width: 50px;
            height: 50px;
            border-radius: 100%;
            object-fit: cover;
        }
    }
    .dropdown-toggle::after {
        content: "\f282";
        font-family: "Bootstrap-icons";
        border: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 13px;
    }

    .wid-icon {
        color: var(--gray-dark);

        i {
            font-size: 24px;
        }

        .cart-value {
            font-size: 10px;
            padding: 0 5px;
            border-radius: 1000px;
            position: relative;
            top: -16px;
            background: #fff;
            color: var(--gray-dark);
            font-weight: 700;
            margin-left: -10px;
            margin-right: -10px;
        }
    }

    .prof-icon {
        position: relative;
        .dropdown-toggle{
            &::after {
                content: none;
            }
        }
    }
}
.dropdown-menu {
    background-color: var(--white);
    top: calc(100% + 8px);
    left: auto;
    right: 0;
    box-shadow: 0 1px 15px rgba(0,0,0,.25);
    border: 0;
    width: 300px;
    @media(max-width:991.92px){
        left: 0;
        right: 0;
    }
    li{
        margin-bottom: 12px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .dropdown-item {
        padding: 0px 10px;
        font-size: 16px;
        font-weight: 500;
    }
}
