.banner-section {
    .banner-container {
        padding: 30px;
        @media(max-width:991.98px){
            padding: 16px;
        }
    }
}

.main-title {
    margin-bottom: 12px;
}

.button-wrap {
    margin-top: 38px;
    @media(max-width:991.98px){
        margin-top: 32px;
    }
    @media(max-width:575.98px){
        margin-top: 28px;
    }
    @media(max-width:480.98px){
        margin-top: 24px;
    }
}

.price {
    font-size: 48px;
    font-weight: 600;
    line-height: 48px;
    @media(max-width:991.98px){
        font-size: 42px;
        line-height: 42px;
    }
    @media(max-width:575.98px){
        font-size: 38px;
        line-height: 40px;
    }
    @media(max-width:480.98px){
        font-size: 34px;
        line-height: 38px;
    }
}

.product-details {
    position: relative;
}
.active-tabs {
    display: block;
}

.inactive-tabs{
    display: none;
}

.product {
    border: 1px solid var(--gray);
    font-size: 24px;
    font-weight: 600;
    border-radius: 4px;

    button {
        border: 0;
        background: transparent;
        padding: 5px 24px;
        color: var(--gray);
    }
}

.tabs-wrap {
    padding: 30px;
    border: 2px solid var(--border-100);
    border-radius: 4px;
    @media(max-width:992.98px){
        padding: 20px;
    }
    @media(max-width:992.98px){
        padding: 15px;
    }
    .nav-pills {
        background: var(--white);
        display: inline-flex;
        padding: 8px 30px;
        border-radius: 100px;
        width: 50%;
        @media(max-width:768.98px){
            width: 100%;
            padding: 8px 16px;
        }
        .nav-item {
            width: 50%;
        }
        .nav-link {
            width: 100%;
            font-weight: 700;
            color: var(--gray-dark);
            &.active {
                background-color: var(--primary-100);
            }
        }
    }
}

.details-data {
    padding: 16px 0;
    border-bottom: 2px solid var(--border-100);
    margin-bottom: 16px;
}

.data-list-group {
    margin-bottom: 22px;

    .left-value {
        width: 50%;
    }
}

.rounded-100 {
    border-radius: 100%;
}

.content-block {
    margin-bottom: 42px;
    text-align: left;

    &:last-child {
        margin-bottom: 0;
    }
}

.review-block {
    display: flex;
    align-items: self-start;
}

.review-list-item {
    background: #fff;
    margin-bottom: 30px;
    padding: 16px;
    border-radius: 4px;

    &:last-child {
        margin-bottom: 0;
    }
}

.review-img {
    width: 70px;
    height: 70px;
    flex: 0 0 70px;
    margin-right: 30px;

    img {
        object-fit: cover;
        height: 100%;
    }
}

.rating {
    display: flex;

    .rating-list {
        margin-right: 5px;

        &.filled {
            i {
                color: var(--primary);
            }
        }

        i {
            font-size: 12px;
        }
    }
}

.border-top {
    border-top-color: var(--border-100);
}
.border-bottom{
    border-color: var(--border-100);
}
.data-ftr {
    padding: 16px 0;
}

.detsal-col {
    .form-check {
        position: relative;
        padding-left: 0;
    }
    .detsal-col-group {
        margin-bottom: 10px;
    }
    .form-check-label {
        display: block;
        border: 1px solid var(--border-100);
        padding: 10px;
        cursor: pointer;
        padding-left: 50px;
    }
    .form-check-input {
        margin-left: 0;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 0;
        left: 15px;

        &:checked {
            background-color: var(--primary);
            border-color: var(--primary);
        }

        &:focus {
            border-color: var(--primary);
            outline: 0;
            box-shadow: none;
        }
    }
}