@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --primary: #ffc107;
    --primary-100:#ffd24b;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-100:#495057;
    --gray-dark: #3d464d;
    --border-100:#f0f0f0;
    --border-200:#ced4da;
    --light: #f8f9fa;
    --dark: #343a40;
    --black:#000;
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 4px;
	background-color: var(--border-100);
}
::-webkit-scrollbar
{
	width: 10px;
	background-color:var(--border-100);
}
.indicator--hover .indicator__area, .indicator--open .indicator__area {
    background: hsla(0,0%,100%,.5);
    transition-duration: .1s;
}

::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--primary);
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    background:var(--white);
    color: var(--gray-dark);
    backface-visibility: hidden;
    overflow: hidden;
    overflow-y: scroll;
    @media(max-width:991.92px){
        font-size: 14px;
        line-height: 1.4;
    }
}

p {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;

}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--gray-dark);
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 36px
}
h1,h2 {
    font-weight: 700
}
h2 {
    font-size: 32px
}
h3 {
    font-size: 28px
}

h3,h4 {
    font-weight: 700
}
h4 {
    font-size: 24px
}
h5 {
    font-size: 20px
}
h5,h6 {
    font-weight: 700
}
h6 {
    font-size: 16px
}
@media(max-width:991.98px){
    h1 {
        font-size: 32px
    }
    h1,h2 {
        font-weight: 600
    }
    h2 {
        font-size: 28px
    }
    h3 {
        font-size: 24px
    }
    
    h3,h4 {
        font-weight: 500
    }
    h4 {
        font-size: 20px
    }
    h5 {
        font-size: 16px
    }
    h5,h6 {
        font-weight: 700
    }
    h6 {
        font-size: 14px
    }   
    p{
        font-size: 14px;
    }
}
@media(max-width:575.98px){
    h1 {
        font-size: 28px
    }
    h1,h2 {
        font-weight: 500
    }
    h2 {
        font-size: 24px
    }
    h3 {
        font-size: 29px
    }
    
    h3,h4 {
        font-weight: 500
    }
    h4 {
        font-size: 18px
    }
    h5 {
        font-size: 14px
    }
    h5,h6 {
        font-weight: 400
    }
    h6 {
        font-size: 14px
    }   
    p{
        font-size: 14px;
    }
}
.fs-12{
    font-size: 12px;
}
a, button {
    color: var(--primary);
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}
a, button, img, input, span {
    transition: all 0.3s ease 0s;
}

a,span{
    display:inline-block;
}

*:focus {
    outline: none !important;
}
a:focus {
    color: var(--primary);
    color: inherit;
    outline: none;
    text-decoration: none;
}
a:hover {
    color: var(--primary);
    text-decoration: none;
}
button, input[type="submit"] {
    cursor: pointer;
}
ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

// unit css

.mt-30{
    margin-top: 30px;
}
.mb-30{
    margin-bottom: 30px;
}
.mr-30{
    margin-right: 30px;
}

// button style
.btn {
    font-size: 1rem;
    height: calc(2.75rem + 2px);
    padding: .8125rem 2rem;
    line-height: 1;
    font-weight: 500;
}
.primary-btn{
    background-color: var(--primary);
    color: var(--gray-dark);
    border-color: var(--primary);
    &:hover{
        background-color: var(--gray-dark);
        color: var(--white);
        border-color: var(--gray-dark);
    }
}
.primary-btn-outline{
    border: 1px solid var(--primary);
    background-color: var(--white);
    color: var(--primary);
    &:hover{
        background-color: var(--primary);
        color: var(--white);
    }
}
// fomr elements
.form-group {
    margin-bottom: 16px;
    margin-top: 0;
}
.form-control {
    color: var(--gray-100);
    background-color:var(--white);
    border: 1px solid var(--border-100);
    border-radius: 0;
    height: 48px;
    &:focus{
        box-shadow: none;
        border-color: var(--primary);
    }
}
.form-label {
    margin-bottom: 0.5rem;
    color: var(--black);
    font-weight: 600;
}
// slider dots
.slick-dots {
    display: flex !important;
    justify-content: center;
    li{
        margin-right: 10px;
        &:last-child{
            margin-right: 0;
        }
        &.slick-active{
            button{
                background:var(--primary);
                opacity: 1;
            }
        }
        button {
            border: 0;
            font-size: 0;
            width: 16px;
            height: 16px;
            border-radius: 100%;
            background-color: var(--gray-dark);
            opacity:0.74;
        }
    }
}